<div class="container">
  <div class="row m-t-10">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <%= image_tag 'pm.svg', width: 70, height: 70, class: 'center-block' %> 
          <div class="text-center">
            <h5 class="m-t-10">
              <%= @user.name %>
            </h5>
            <span class="m-t-10">
              <a href="https://anonumos.co/users/<%= @user.slug %>"> anonumos.co/<%= @user.slug %></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-40">
    <div class="col-md-12">
      <div class="card">
        <div class="text-center card-header">
          <span>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M17,12V3A1,1 0 0,0 16,2H3A1,1 0 0,0 2,3V17L6,13H16A1,1 0 0,0 17,12M21,6H19V15H6V17A1,1 0 0,0 7,18H18L22,22V7A1,1 0 0,0 21,6Z" />
            </svg>
          </span>
          <span class="conv_header">Conversations</span>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="#hello" data-toggle="tab">Received <span class="badge badge-light">3</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hello" data-toggle="tab">Sent <span class="badge badge-dark">4</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hello" data-toggle="tab">Liked <span class="badge badge-dark">2</span> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>